@font-face {
    font-family: 'Sailec';
    src: url('./fonts/Sailec-Bold.woff2') format('woff2'),
        url('./fonts/Sailec-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('./fonts/Sailec-Medium.woff2') format('woff2'),
        url('./fonts/Sailec-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('./fonts/Sailec-Regular.woff2') format('woff2'),
        url('./fonts/Sailec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}