// ============================== site colours used ============================== 
$primary-color: #151442;
$secondary-color: #102421;
$button-bg: #C7E1BF;
$button-text: #102522;
$text-color: #8F9095;
$banner-text: #d2d2d2;
$testimonial-text: #342B42;
$dark-color: #000000;
$light-color: #ffffff;
// ============================== site colours used ============================== 


// ============================== site fonts used ============================== 
$primary-font: 'Sailec', sans-serif;
$font-bold: bold;
$font-medium: 500;
$font-regular: normal;
// ============================== site fonts used ============================== 